section#carousel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  background: var(--first-col);
}
/* carousel_desc */
section#carousel .carousel_desc {
  width: 50%;
  height: 100%;
  padding: 0px 50px;
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  align-items: center;
}
section#carousel .carousel_desc .carousel_heading {
  font-size: 3.3vw;
  font-weight: 800;
  color: var(--text-col);
}
section#carousel .carousel_desc h2 span {
  display: inline-block;
  background: var(--first-col) url("./../../img/_856ed289-04e0-41fd-8fe8-abc8cbec78ce.jfif") center/cover ;
  width: 12vw;
  height: 47px;
  border-radius: 30px;
}
section#carousel .carousel_desc .carousel_par{
  color: var(--text-col);
  font-weight: lighter;
  transition-delay: var(--delay-2);
}
section#carousel .carousel_desc .btn{
  margin: 30px 0px;
  transition-delay: var(--delay-3);
}

/* transform before observe */
.carousel_heading,
.carousel_par,
.card_count{
  transition: var(--transition);
  transform: translate(-150px) scale(.9);
  opacity: .01;
}
/* transform at observing */
.transform_carousel-desc {
  transform: translate(0px) scale(1);
  opacity: 1;
}


section#carousel .carousel_desc .card_provide {
  width: 100%;
  height: max-content;
  margin-top: 60px;
  display: flex;
  flex-flow: row nowrap;
  gap: 0px 20px;
}
/* transition-delay */
section#carousel .carousel_desc .card_provide .card_count:nth-child(1){transition-delay: var(--delay-1);}
section#carousel .carousel_desc .card_provide .card_count:nth-child(2){transition-delay: var(--delay-2);}
section#carousel .carousel_desc .card_provide .card_count:nth-child(3){transition-delay: var(--delay-3);}

section#carousel .carousel_desc .card_provide .card_count {
  display: flex;
  flex-flow: column;
  place-content: center;
  align-items: center;
  flex: 1;
}
section#carousel .carousel_desc .card_provide .card_count .count {
  color: var(--text-col);
  font-weight: 700;
  font-size: 2.8vw;
}
section#carousel .carousel_desc .card_provide .card_count .count_desc {
  color: var(--text-col);
  font-size: 1vw;
  font-weight: 400;
}
/* carousel_img */
section#carousel .carousel_img-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
section#carousel .carousel_img-container .slide-img {
  display: none;
}
section#carousel .carousel_img-container .slide-img img {
  height: 100%;
}
section#carousel .carousel_img-container .slide-img .caption {
  font-size: 3vw;
  z-index: 2;
  font-weight: bold;
  padding: 0 30px;
  color: var(--third-col);
  position: absolute;
  bottom: 50%;
  text-shadow: 1px 1px 1px var(--fivth-col);
  transform: translate(-30px);
}
section#carousel .carousel_img-container .doted-container {
  width: 100%;
  padding: 15px 0;
  /* z-index: 3; */
  position: absolute;
  bottom: 0;
  text-align: center;

}
section#carousel .carousel_img-container .doted-container span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0px 10px;
  border-radius: 50%;
  background: var(--third-col);  
}
section#carousel .carousel_img-container .doted-container span:hover {
  background-color: #5f442e;
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
.translateHorizon {
  animation-name: translateHorizon;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from {opacity: .4;}
  to {opacity: 1;}
}
@keyframes translateHorizon {
  from {  transform: translate(-30px);}
  to {  transform: translate(0px);}
}
