@import url("./components/utils_style.css");
@import url("./components/navigation.css");
@import url("./components/main.css");
@import url("./components/carousel.css");
@import url("./components/production.css");
@import url("./components/furniture.css");
@import url("./components/vendor.css");
@import url("./components/blog.css");
@import url("./components/footer.css");
@import url("./components/button.css");

:root {
  --first-col: #3d2315;
  --second-col: #60270f;
  --third-col: #a0724d;
  --fourth-col: #c3b8a9;
  --fivth-col: #e3d8c5;
  --sixth-col: white;
  --text-col: whitesmoke;
  /* translate */
  --translate-start-left: translate(-150px);
  --translate-start-right: translate(150px);
  --translate-start-top: translateY(-150px);
  --translate-start-bottom: translateY(150px);
  --translate-end: translate(0px);
  --translate-endY: translateY(0px);
  /* scale */
  --scale-start-5: scale(.5);
  --scale-start-7: scale(.7);
  --scale-start-9: scale(.9);
  --scale-end: scale(1);
  /* transition */
  --transition: .9s ease-out;
  --transition-cub: .9s cubic-bezier(0, 1.08, 1, 1.38);
/* transition delay */
  --delay-1: 0s;
  --delay-2: .3s;
  --delay-3: .6s;
  --delay-4: .9s;
  --delay-5: 1.2s;
}

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}